version: '3.4'

services:
  atagonemqttbridge:
    image: atagonemqttbridge
    build:
      context: .
      dockerfile: Dockerfile
    # restart: always
    network_mode: host
    env_file: 
      - '.env'